<div class="row">
    <div class="col-5">
        <div class="d-flex">
            <div class="pe-2 position-relative">
                <a href="{{ path('token_address', {'token': box.extra.transactionToken}) }}" title="Token: {{ box.name }}">
                    <picture>
                        <source srcset="{{ box.icon|replace({'.png': '.webp'}) }}" type="image/webp">
                        <img loading="lazy" width="42" height="42" src="{{ box.icon }}" title="{{ box.name }}" alt="">
                    </picture>
                </a>

                <div class="position-absolute top-0 start-0 translate-middle">
                    {% if box.notes|default([])|length > 0 %} <i class="text-muted fas fa-info-circle" style="font-size: 0.8em; opacity: 0.6" title="{{ box.notes|join(' ') }}"></i>{% endif %}
                </div>
            </div>
            <div>
                <div class="fw-bold">{{ box.name }}</div>
                <div class="text-muted"><span class="text-muted"> PID: {{ box.raw.pid|default }}</span> {% if box.platform|default %}{{ box.platform|capitalize }}{% endif %}</div>
            </div>
        </div>
    </div>

    <div class="col-3 text-center">
        {% if box.tvl.usd is defined and box.tvl.usd > 0 %}
            <span class="fw-bold">${{ box.tvl.usd|format_percent }}</span><br><span class="text-muted">TVL</span>
        {% endif %}
    </div>

    <div class="col-2 text-center">
        {% if box.yield.apy is defined and box.yield.apy > 0 %}
            <span class="fw-bold">{{ box.yield.apy|format_percent }}%</span>
        {% endif %}

        {% if box.yield.daily is defined and box.yield.daily > 0 %}
            <br>
            <span class="text-muted">{{ box.yield.daily|format_percent }}%</span>
        {% endif %}
    </div>

    <div class="col-2 text-center">
        {% if box.earns|default([])|length > 0 %}
            {% for earn in box.earns|default([]) %}
                <picture>
                    <source srcset="{{ path('token_icon', {'symbol': earn, 'format': 'webp'}) }}" type="image/webp">
                    <img loading="lazy" width="16" height="16" src="{{ path('token_icon', {'symbol': earn, 'format': 'png'}) }}" title="Earn {{ earn }}" alt="Earn {{ earn }}">
                </picture>
            {% endfor %}
            <div class="text-muted">Earn</div>
        {% endif %}
    </div>
</div>
