{% if wallet|default([])|length > 0 %}
    <div class="modal fade" id="wallet-modal" tabindex="-1" aria-labelledby="wallet-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="wallet-modal-title">
                        Wallet -
                        <span class="text-muted">{{ address_truncate }}</span> -
                        <a class="text-muted text-dark" target="_blank" href="{{ chain.explorer }}/address/{{ address }}" title="explorer: Address"><i class="fas fa-external-link-alt"></i></a>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for token in wallet %}
                        <div class="card shadow-sm mb-2">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="pe-2">
                                        <picture>
                                            <source srcset="{{ token.icon|replace({'.png': '.webp'}) }}" type="image/webp">
                                            <img loading="lazy" alt="" src="{{ token.icon }}" title="{{ token.symbol|default('unknown') }}" width="42" height="42">
                                        </picture>
                                    </div>

                                    <div class="flex-grow-1 lh-sm">
                                        <div class="fw-bold">{{ token.symbol|default('?')|upper }}</div>
                                        <div style="font-size: 0.9em;"><a class="text-muted text-dark" target="_blank" href="{{ chain.explorer }}/token/{{ token.token }}" title="explorer: Token"><i class="fas fa-external-link-alt"></i></a></div>
                                    </div>

                                    <div class="text-end font-monospace lh-sm">
                                        <div class="fw-bold">{% if token.usd|default %}{{ token.usd|format_currency }}{% else %}n/a{% endif %}</div>
                                        <div class="text-muted" style="font-size: 0.9em;">{{ token.amount|format_token }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}