<div class="d-flex ps-2" title="Platform Rewards (Pending Harvest)">
    <div class="lh-sm pe-1" style="font-size: 0.8em;">
        <div>{{ reward.amount|format_token }}</div>
        <div class="text-muted">{% if reward.usd is defined and reward.usd is not null and reward.usd != "" and reward.usd > 0 %}{{ reward.usd|format_currency }}{% else %}n/a{% endif %}</div>
    </div>

    <div>
        <picture>
            <source srcset="{{ reward.icon|replace({'.png': '.webp'}) }}" type="image/webp">
            <img loading="lazy" alt="" width="24" height="24" src="{{ reward.icon }}" title="{{ reward.token }}">
        </picture>
    </div>
</div>