<div class="row pt-3">

    <div class="col">
        <div class="d-flex">
            <div class="flex">
                <a target="_blank" href="{{ platform.url }}">
                    <img width="32" height="32" class="me-2" src="{{ platform.icon }}" title="{{ platform.label }}">
                </a>
            </div>
            <div class="flex-grow-1 align-middle lh-sm">{{ platform.label }}
                <div class="text-muted">
                    {% if platform.token_price|default %}
                        <span title="Token Price" class="text-muted"
                              style="font-size: 0.75em">{{ platform.token_price|format_currency }}</span>
                    {% endif %}

                    <span title="Your Balance" class="platform-balance">
                    {% if platform.wallet.balance|default > 0 or platform.wallet.usd|default > 0 %}
                        <i class="fas fa-wallet"></i>
                    {% endif %}

                        {% if platform.wallet.balance|default > 0 %}
                            <span style="font-size: 0.75em">{{ platform.wallet.balance|format_token }}</span>
                        {% endif %}

                        {% if platform.wallet.usd|default > 0 %}
                            <span style="font-size: 0.75em">({{ platform.wallet.usd|format_currency }})</span>
                        {% endif %}
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-auto text-end">
        <div class="d-flex" title="Platform Rewards (Pending Harvest)">
            <div class="d-none d-md-flex">
                {% for reward in platform.rewards|default([])|reverse %}
                    {% include 'components/reward.html.twig' with {
                        'reward': {
                            'amount': reward.amount,
                            'usd': reward.usd|default,
                            'icon': '/token/' ~ reward.symbol|lower ~ '.png',
                            'token': reward.symbol
                        }
                    } %}
                {% endfor %}
            </div>

            {% if platform.usd|default(0) > 0 %}
                <div class="d-flex ps-2 ms-2 lh-sm" title="Deposits">
                    <div class="lh-sm pe-1">
                        <div class="fw-bold">{{ platform.usd|format_currency }}</div>
                        <div class="text-muted" style="font-size: 0.8em;">Total</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
