{% extends 'base.html.twig' %}

{% set title = address_truncate %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}

    <div class="text-center mb-3">
        <div class="btn-group">
            <a href="https://farm.army/{{ address }}" title="Binance Smart Chain" class="btn btn-outline-light text-dark {{ chain.id == 'bsc' ? 'active fw-bold' : '' }}"><img height="24px" alt="Binance Smart Chain" src="{{ asset('assets/chains/bsc.svg') }}"></a>
            <a href="https://polygon.farm.army/{{ address }}" title="Polygon" class="btn btn-outline-light text-dark {{ chain.id == 'polygon' ? 'active fw-bold' : '' }}"><img height="24px" alt="Polygon" src="{{ asset('assets/chains/polygon.svg') }}"></a>
            <a href="https://fantom.farm.army/{{ address }}" title="Fantom" class="btn btn-outline-light text-dark {{ chain.id == 'fantom' ? 'active fw-bold' : '' }}"><img height="24px" alt="Fantom" src="{{ asset('assets/chains/fantom.svg') }}"></a>
            <a href="https://kcc.farm.army/{{ address }}" title="KuCoin Community Chain" class="btn btn-outline-light text-dark {{ chain.id == 'kcc' ? 'active fw-bold' : '' }}"><img height="24px" alt="KuCoin Chain" src="{{ asset('assets/chains/kcc.png') }}"></a>
            <a href="https://harmony.farm.army/{{ address }}" title="Harmony" class="btn btn-outline-light text-dark {{ chain.id == 'harmony' ? 'active fw-bold' : '' }}"><img height="24px" alt="Harmony" src="{{ asset('assets/chains/harmony.png') }}"></a>
            <a href="https://celo.farm.army/{{ address }}" title="Celo" class="btn btn-outline-light text-dark {{ chain.id == 'celo' ? 'active fw-bold' : '' }}"><img height="24px" alt="Celo" src="{{ asset('assets/chains/celo.png') }}"></a>
            <a href="https://moonriver.farm.army/{{ address }}" title="Moonriver" class="btn btn-outline-light text-dark {{ chain.id == 'moonriver' ? 'active fw-bold' : '' }}"><img height="24px" alt="Moonriver" src="{{ asset('assets/chains/moonriver.png') }}"></a>
        </div>
    </div>

    <div id="app-address"
         data-url="{{ path('farm_content', {'address': address|slice(2)}) }}"
         data-context="{{ app_context|json_encode }}"
         data-explorer="{{ explorer }}"
         data-chunks="{{ path('farm_json_platform_chunks', {'chunk': 1, 'address': address|slice(2)}) }}">
    </div>

    <div class="modal" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Details - <span class="text-muted title fs-5"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class=" ajax-spinner text-center py-4">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div class="content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block stylesheet %}
    {{ encore_entry_link_tags('address') }}
{% endblock stylesheet %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1-rc.0/web3.min.js" integrity="sha512-+4Gl8sbHe5qD5EQiPtIva4be9TwUmmzgYJUdGbhsLYNegQw4Quda/4QdZpJzx8cHq2s1F4PoIpAnERQ0hHTcNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ encore_entry_script_tags('address') }}
{% endblock javascript %}