{% extends 'base.html.twig' %}

{% set title = "Masterchef / Liquidy Pool Tool Checker" %}

{% block content %}
    <div class="mt-4 pt-4 mx-auto text-center">
        <p class="lead">Masterchef / Liquidy Pool Tool Checker</p>
        <p class="text-muted">Common masterchef contract designs are supported.</p>
    </div>

    <div class="row justify-content-md-center pb-3">
        <div class="col-md-auto col-lg-5 ">
            {% form_theme form 'bootstrap_5_layout.html.twig' %}

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.masterchef) }}
            {{ form_row(form.address) }}

            {{ form_rest(form) }}
            <button class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>

    {% if pools|default([])|length > 0 %}
        <h3 class="pt-3 text-center">Wallet Pools - {{ address|truncate_address }} - <a class="text-muted text-dark" target="_blank" href="{{ chain.explorer }}/address/{{ address }}" title="explorer: Address"><i class="fas fa-external-link-alt"></i></a></h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 pb-5">
            {% for farm in pools|default([]) %}
                <div class="col">
                    {% include 'address/farm_card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if master_chef_farms|default([])|length > 0 %}
        <h3 class="pt-3 text-center">Masterchef - {{ address_masterchef|truncate_address }} -  <a class="text-muted text-dark" target="_blank" href="{{ chain.explorer }}/address/{{ address_masterchef }}" title="explorer: Address"><i class="fas fa-external-link-alt"></i></a></h3>
        {% for farms in master_chef_farms|batch(2) %}
            <div class="row">
                {% for farm in farms %}
                    <div class="col-12 col-lg-6">
                        {{ farm.content|raw }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}